.nft-cont {
  margin: 4em;
  display: flex;
  align-self: center;
  border-radius: 20px;
}

.img-container {
  height: 50vh;
  text-align: center;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-img {
  width: auto;
  height: 100%;
  min-width: 30vw;
  object-fit: contain;
}

.nft-details {
  color: white;
  background-color: #000426;
  padding: 1em 2em;
  flex: 1;
}

.nft-table {
  width: 100%;
  font-weight: bold;
  color: white;
}

.nft-table tr,
td {
  padding: 6px 12px 6px 6px;
  font-weight: bold;
}
